<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document

    // build:css css/app.css
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="css/app2.css")
    // endbuild
  body
    h1 Hello DOM Focus

    // build:js js/app.js
    script(type="text/javascript" src="js/app.js")
    script(type="text/javascript" src="js/app2.js")
    // endbuild
